*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}   

header{
    display: flex;
    width: 100vw;
    padding-top: 10px;
    height: 8vh;
    align-items: center;
    position: sticky;
    text-align: center;
    background-color: #ffffff;
}

.s1{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    padding-left: 150px;
    background-color: #ffffff;
    width: 50vw;
    position: sticky;
    

}

.s2{
    align-items: center;
    background-color: #ffffff;
    display: flex;
    
    position: sticky;
    text-align: center;
    padding-left: 300px;

}

.logo{
    height: 6vh;
    width:8vw ;
    gap: 20px;

}

#logobutt{
    border: 0px;
    color: gray;
    background-color: #ffffff;
    font-size: large;

}

#logobutt1{
    border: 0px;
    color: gray;
    background-color: #ffffff;
    font-size: x-large;
}

main{
    width: 100vw;
    height: 740vh;
    background-color: #ffffff;
    
}
#div1{
    padding-top: 1vh;
    overflow: hidden;
}

#div11 {
  display: flex;
  width: 600%;
  gap: 0.57%;
  animation: scroll 18s linear infinite;
}


#div11  div {
  width: 16.1%;
  
}


#div11 img {
  width: 100%;
  height: 60vh;
  border-radius: 20px;
}



@keyframes scroll{
           0%{
            transform: translateX(0%);

           }

            100%{
            transform: translateX(-50%);
 
           }
        }

.img{
    width: 70vw;
    height: 58vh;
    padding-top: 20px;
    border-radius: 40px;
    gap: 20px;
}

#div2{
    justify-content: center;
    align-items: center;
  
    text-align: center;
    padding: 0%;
    padding-top: 50px;
}

.sb{
    display: flex;
    align-items: center;
    justify-content: center;
}
.h1R{
    font-size: 40px;
    padding-top: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 15px;
    align-items: center;
}

button{
    height: 5vh;
    width: 8vw;
    border-radius: 30px;
    color: #ffffff;
    font-size: large;
    background-color: blue;
}

input{
    height: 5vh;
    width: 17vw;
    border-radius: 10px;
    gap: 10px;
    padding-left: 20px;
}

#div3{
    justify-content: center;
    text-align: center;
    align-items: center; 
    gap: 100px;
    padding-top: 80px;
    display: flex;

}

#div31{
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 8px;
    background-color: rgb(112, 169, 255);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    
   
}
 #div31:hover{
    height: 90px;
    width: 90px;
    border-radius: 10px;
    transition: 0.5s;
}

.p11{
    font-size: 10px;
}

.div4{

    justify-content: center;
    padding: 50px;
    align-items: center;
    text-align: center;
}

#photo{
    display: flex;
    padding-top: 30px;
    gap: 30px;
    padding-left: 80px;
}

.img2{
    height: 90vh;
    width: 40vw;
   }

.img6{
    width: 90vw;
    padding-top: 50px;
}

.div6{
    padding-top: 100px;
}

.h1R6{
    font-size: 40px;
    padding-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.div77{
    overflow: hidden;
    
    /* padding-top: 50px;
    margin: 30px; */
    position: sticky;
}



.div7{
    display: flex;
    padding-top: 60px;
    gap: 1%;
    width: 300%;
     animation: scroll 10s linear infinite alternate;
    
    }

.buttd7{
    height: 3vh;
    width: 5vw;
    border-radius: 0px;
    font-size: 12px;
    color: #ffffff;
   background-color: gray;
}
.imgd7{
    padding-bottom: 50px;
    padding: 0%;
    margin: 0%;
    height: 25vh;
    width: 30vw;
}

.Box{
    height: 40vh ;
    overflow: auto;
    background-color: #ffffff;
    border-radius: 20px;
    gap: 30px;
    width: 20%;
    border: 1px solid black;
    box-shadow: 0 0 15px rgb(214, 64, 64);
    padding-top: 40px;
    animation-duration: 20s;
   
    
}

@keyframes scroll{
           0%{
            transform: translateX(0%);

           }
           100%{
            transform: translateX(-100%);
           }
        } 
    
.Box:hover{
    transform: rotateY(360deg); 
    transform: scale(1.1);
    transition: 1s; 
    background-color: #ffffff;
}  



.div8{
    padding-top: 50px;
}


.div100{
    background-color: #fcfcfc;
    height: 40vh;
    width: 90vw;
    /* margin: 0%;
    padding: 0%;
     */
   
    
}
/* //////////////////////////////// */

footer{
    background-color: #fefefe;
    padding-top: 100px;
     width: 100vw;
    height: 100vh ;
}

#nav1{
    background-color: blue;
    justify-content: center;
    height: 35vh;
    display: flex;
    flex-direction: column;
    

}
.fh{
    color: #ffffff;

    font-size: 75px;
}

.fp{
    color: #ffffff;
}
    
   
#footers1{
    display: flex;
  
    color: #ffffff;
   background-color: blue;
    gap: 30px;
}

.fb{
     /* border-color: #ffffff; */
     font-size: medium;
     border: 3px solid white;
    
  }

 

#nav2{
    display: flex;
    align-items: start;
    padding-top: 50px;
    text-align: start;
    gap: 130px;
    padding-right: 120px;

  }

  #nav3{
    /* background-color: aqua; */
    padding-top: 9px;
    display: flex;
  }

  .nav3s{
    font-size: smaller;
    padding-right: 100px;
  }

  .nav3s1{
    font-size: smaller;
    display: flex;
  
    gap: 20px;
    justify-content: space-evenly;
  }

  

  